@tailwind base;
@tailwind components;
@tailwind utilities;

.TestAppWrapper {
  font-family: 'Creepster', cursive;
  
}
:root {
  position:relative;
  height: screen;
  padding: 1px;
  background-color:#35373b;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  border: 2px solid black;
  color: aliceblue;
}


.EyeballSpan2::before {
  content: '';
  width: 20px;
  height: 16px;
  position: absolute;
  background-color: #35373b;
  z-index: 50;
  left:-174px;
  bottom: -14px;

}
.EyeballSpan2::after {
  content: '';
  width: 18px;
  height: 14px;
  position: absolute;
  background-color: black;
  z-index: 50;
  left:-180px;
  bottom: -10.2px;
  border: 2px solid black;
  border-bottom-right-radius: 27px;

}
.EyeballSpan4::before {
  content: '';
  width: 20px;
  height: 16px;
  position: absolute;
  background-color: #35373b;
  z-index: 50;
  left: 198px;
  bottom: -5px;

}
.EyeballSpan4::after {
  content: '';
  width: 20px;
  height: 16px;
  position: absolute;
  background-color: black;
  z-index: 50;
  left:205px;
  bottom: -.6px;
  border: 2px solid black;
  border-bottom-left-radius: 25px;
}
 @media screen and (max-width: 620px)
   {
    .EyeballSpan2::before {
      display: none;
    }
    .EyeballSpan2::after {
      display: none;
    }
    .EyeballSpan4::before {
      display: none;
    }
    .EyeballSpan4::after {
      display: none;
    }
  
   }
 .Likeness {
   color:aliceblue;
   font-family:playfair_display_sc;
   text-decoration: underline;
   text-shadow: 2px 2px 2px black;
   text-decoration-color: darkgreen;
   text-decoration-thickness: 3px;
   background-color: #111827;
   outline: transparent;
   border-top-right-radius:15px;                                       /* bg-grey-900 */
   border-top-left-radius:15px; 
   text-shadow: 2px 2px 2px black ;
   box-shadow:  2px 2px 2px black ;                                      /* bg-grey-900 */
   }
 .UserName {
   color:rgb(207, 226, 243);
   font-family:Cinzel;
   text-decoration: underline;
   text-shadow: 2px 2px 2px black;
   text-decoration-color: darkgreen;
   text-decoration-thickness: 3px;
   background-color: #111827;
   outline: transparent;
   border-top-right-radius:15px;                                       /* bg-grey-900 */
   border-top-left-radius:15px; 
   text-shadow: 2px 2px 2px black ;
   box-shadow:  2px 2px 2px black ; 
   font-size: larger; 
   letter-spacing: 1px;                                    /* bg-grey-900 */
   }
 .likenessButton {
   color:rgb(207, 226, 243);
   font-family:Rye;
   font-size: 15px;
   text-shadow: 2px 2px 2px black;
   box-shadow:  2px 2px 2px black ; 
   background-color: #111827;
   outline: transparent;
   border-top-right-radius:15px;                                       /* bg-grey-900 */
   border-top-left-radius:15px; 
   text-shadow: 2px 2px 2px black ;                                      /* bg-grey-900 */
   }
 .previouslyScanned {
   color:rgb(128, 191, 128);
   font-family:playfair_display_sc;
   
   text-shadow: 2px 2px 2px black;
   text-shadow: 2px 2px 2px black ;                                      /* bg-grey-900 */
   }

  .BodyParts {
    color:#90caf9;
    font-family:Libre_Baskerville;
    text-shadow: 2px 2px 2px black;
    text-shadow: 2px 2px 2px black ;
    font-weight: lighter; 
    letter-spacing: 1px;                                     /* bg-grey-900 */
    }
  .slider {
   
    font-family:libre_baskerville;
    text-shadow: 2px 2px 2px black;
    text-shadow: 2px 2px 2px black ; 
    text-decoration: underline; 
    text-decoration-color:darkgreen;                                   /* bg-grey-900 */
    }
    .PersonalitySliders1{
    background: linear-gradient(to right, #2f855a 20%,  #90caf9 20%);}
    .PersonalitySliders2{
    background: linear-gradient(to right, #2f855a 30%,  #90caf9 30%);}
    .PersonalitySliders3{
    background: linear-gradient(to right, #2f855a 95%,  #90caf9 95%);}
    .PersonalitySliders4{
    background: linear-gradient(to right, #2f855a 75%,  #90caf9 75%);}




@font-face {
  font-family:'Creepster';
  src: url(../GoogleFonts/Creepster/Creepster-Regular.ttf)
 }
 @font-face {
  font-family:'DM_Serif_Display';
  src: url(../GoogleFonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf)
 }
 @font-face {
  font-family:'';
  src: url(../GoogleFonts/Itim/Itim-Regular.ttf)
 }
 @font-face {
  font-family:'Kranky';
  src: url(../GoogleFonts/Kranky/Kranky-Regular.ttf)
 }
 @font-face {
  font-family:'Libre_Baskerville';
  src: url(../GoogleFonts/Libre_Baskerville/LibreBaskerville-Regular.ttf)
 }
 @font-face {
  font-family:'PT_Serif';
  src: url(../GoogleFonts/PT_Serif/PTSerif-Regular.ttf)
 }
 @font-face {
  font-family:'Rye';
  src: url(../GoogleFonts/Rye/Rye-Regular.ttf)
 }
@font-face {
 font-family:'black_ops_one';
  src: url(../GoogleFonts/Black_Ops_One/BlackOpsOne-Regular.ttf)
 }
@font-face {
 font-family:'Caprasimo';
  src: url(../GoogleFonts/Caprasimo/Caprasimo-Regular.ttf)
 }
@font-face {
 font-family:'Playfair_Display_SC';
  src: url(../GoogleFonts/Playfair_Display_SC/PlayfairDisplaySC-Regular.ttf)
 }
@font-face {
 font-family:'Cinzel';
  src: url(../GoogleFonts/Cinzel/Cinzel-VariableFont_wght.ttf)
 }





